<div class="login-container">
  <div class="top-center-image">
    <img src="../../../assets/Group 17.svg" alt="Decorative Image" />
  </div>
  <div class="login-box">
    <div class="login-header">
      <img src="../../../assets/tata-logo.png" alt="TATA Communications" class="tata-logo" />
    </div>
    <div class="login-content">
      <button class="sso-button" routerLink="/qr-scanner">Scan Device (Consumer Login)</button>
      <p class="or-text">OR</p>
      <form [formGroup]="loginForm" (ngSubmit)="LoginUser()">
        <div class="form-group">
          <mat-form-field >
            <mat-label>User Name</mat-label>
            <input matInput formControlName="username" />
            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
              Username is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field >
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="login-button" type="submit" [disabled]="loginForm.invalid">
          LOGIN
        </button>
      </form>
    </div>
  </div>
  <div class="bottom-image">
    <footer>
      <img src="../../../assets/Group 42.svg" alt="Decorative Image" />
    </footer>
  </div>
</div>
