
<div class="login-container">
  <div class="top-center-image">
    <img src="../../../assets/Group 17.svg" alt="Decorative Image" />
  </div>
  <div class="login-box">
    <div class="login-header">
      <img src="assets/tata-logo.png" alt="TATA Communications" class="tata-logo" />
    </div>
    <div class="login-content">
      <button class="sso-button" routerLink="qr-scanner">Scan Device (Consumer Login)</button>
      <p class="or-text">OR</p>
      <form>
        <div class="form-group">
          <label for="username">User Name</label>
          <input type="text" id="username" placeholder="User Name" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Password" />
          <span class="toggle-password">
            <i class="icon-eye-off"></i>
          </span>
        </div>
        <button class="login-button" type="submit">LOGIN</button>
      </form>
    </div>
  </div>
  <img src="../../../assets/Group 42.svg" alt="">
</div>
