.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #748fd8;
  font-family: 'Arial', sans-serif;
  padding: 15px;

  .top-center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; // Reduced margin to decrease top spacing

    img {
      width: 150px; // Slightly reduced width to decrease top spacing
      height: auto;
    }
  }

  .login-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    .login-header {
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      .tata-logo {
        width: 70px;
      }
    }

    .login-content {
      .sso-button {
        background-color: #486aae;
        color: #ffffff;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-size: 14px;
        cursor: pointer;
        margin-bottom: 10px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #2e307a;
        }
      }

      .or-text {
        margin: 10px 0;
        font-size: 12px;
        color: #666;
      }

      .form-group {
        text-align: left;
        margin-bottom: 10px;

        mat-form-field {
          width: 100%;

          .mat-form-field-appearance-outline .mat-form-field-outline {
            border-color: transparent;
          }

          .mat-input-element {
            border: none;
          }

          .mat-form-field-flex {
            border: none;
          }
        }

        .toggle-password {
          margin-left: -30px;
          cursor: pointer;

          mat-icon {
            color: #333;
          }
        }
      }

      .login-button {
        width: 100%;
        padding: 10px;
        background-color: #486aae;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #2e307a;
        }
      }
    }
  }

  .bottom-image {
    margin-top: 10px; // Added margin to separate from login box

    img {
      width: 100%;
      max-width: 300px; // Adjust as needed
      height: auto;
    }
  }
}
