<app-navbar-admin/>
<div class="admin-dashboard-container">
    <!-- Greeting Section -->
    <div class="greeting-section">
      <h1>Hello</h1>
      <p class="user-id">ID: ADN-00123</p>
      <p class="user-name">Alexander</p>
    </div>
  
    <!-- Options Section -->
    <div class="options-container">
      <div class="option-card" routerLink="/delivery-guys">
        <img src="../../../assets/Delivery ICOn.png" alt="Delivery Icon" />
        <p>Delivery</p>
      </div>
      <div class="option-card" routerLink="/warehouse-guys">
        <img src="../../../assets/Construction and tools.png" alt="Warehouse Icon" />
        <p>Warehouse</p>
      </div>
    </div>
  </div>
  