<app-navbar/>
<div class="consumer-dashboard">
  <!-- Navbar with hamburger, company logo, and profile icon -->

  <!-- Card with flex containers -->
  <div class="user">
    <h5>Hey there,</h5>
  </div>
  <div class="dashboard-card">
    <div class="flex-container">
      <!-- Device Info -->
      <div class="flex-item" routerLink="/deviceinfo">
        <img src="../../../assets/consumerdashboard/Group.svg" alt="Device Info Icon" />
        <h3>Device Info</h3>
      </div>

      <!-- Feedback -->
      <div class="flex-item" routerLink="/feedback">
        <img src="../../../assets/consumerdashboard/Vector.svg" alt="Feedback Icon" />
        <h3>Feedback</h3>
      </div>

      <!-- Alert -->
      <div class="flex-item" routerLink="/alert">
        <img src="../../../assets/consumerdashboard/Vector-1.svg" alt="Alert Icon" />
        <h3>Alert</h3>
      </div>

      <!-- Complaint -->
      <div class="flex-item" routerLink="/complaint">
        <img src="../../../assets/consumerdashboard/Vector-2.svg" alt="Complaint Icon" />
        <h3>Complaint</h3>
      </div>
    </div>
  </div>
</div>
