<div class="qr-code-container">
  <div class="qr-code-box">
    <div class="top-center-image">
      <img src="../../../assets/Untitled.gif" alt="Decorative Image">
    </div>
    <h2>Scan QR Code</h2>

    <!-- Video feed for native scanning -->
    <div class="scanner-wrapper">
      <video #video class="camera-feed" *ngIf="isScanning"></video>
      <!-- Custom scan border for better UI experience -->
      <div class="scan-overlay" *ngIf="isScanning">
        <img src="../../../assets/scan-border.svg" alt="Scan Border Image" />
      </div>
    </div>

    <!-- Display scan result -->
    <p *ngIf="scanResult">Scan Successful! Content: </p>
    <div class="results">
      <p>{{ scanResult }}</p>
    </div>
    <button class="scan-button" [hidden]="!isScanning" routerLink="/delivery-dashboard">Back</button>

    <!-- Display scanning options -->
    <div class="scan-actions">
      <button *ngIf="!isScanning && !scanResult" (click)="startScan()" class="scan-button">Start Scan</button>
      <!-- <button *ngIf="isScanning" (click)="stopScan()" class="scan-button stop">Stop Scanning</button> -->

    </div>

    <!-- Navigation button -->
    <button class="scan-button" [hidden]="isScanning || !scanResult" routerLink="/consumers" routerLinkActive="router-link-active">Next</button>
  </div>
  <br>
  <img src="../../../assets/Group 42.svg" alt="Decorative Image">
</div>
