<div class="consumer-dashboard">
    <!-- Navbar with hamburger, company logo, and profile icon -->
    <div class="navbar">
      <!-- <button class="hamburger-button" (click)="toggleMenu()">
        <img src="../../../assets/navbar/Frame 29.svg" alt="Hamburger Icon" />
      </button> -->
      <div class="company-details">
        <img src="../../../assets/navbar/Group 32.svg" alt="Company Logo" class="company-logo" />
      </div>
      <button class="profile-button" (click)="toggleProfileMenu()">
        <img src="../../../assets/navbar/Group.svg" alt="Profile Icon" />
      </button>
    </div>
  
    <!-- Profile dropdown menu -->
    <div class="profile-menu" [ngClass]="{ 'open': isProfileMenuOpen }">
      <ul>
        <li (click)="closeProfileMenu()">
          <img src="../../../assets/back-blue.svg" alt="Back Icon" />
          <span class="text-blue-500">Back</span>
        </li>
        <li>
          <img src="../../../assets/Settinmg icon.svg" alt="Settings Icon" />
          <span>Settings</span>
        </li>
        <li>
          <img src="../../../assets/Log out icon.svg" alt="Logout Icon" />
          <button (click)="LogOut()">Logout</button>
        </li>
      </ul>
    </div>
  
    <!-- Sidebar menu for the hamburger -->
    <!-- <div class="sidebar-menu" [ngClass]="{ 'open': isMenuOpen }">
      <ul>
        <li (click)="goBack()">
          <img src="../../../assets/back-blue.svg" alt="Back Icon" />
          <span class="text-blue-500">Back</span>
        </li>

        <li routerLink="/admin-dashboard">
          <img src="../../../assets/Vector.svg" alt="home" />
          <span>Home</span>
        </li>

        <li routerLink="/delivery-guys">
          <img src="../../../assets/Delivery ICOn.png" alt="delivery Icon" />
          <span>Delivery</span>
        </li> 

        <li routerLink="/warehouse-guys">
          <img src="../../../assets/Construction and tools.png" alt="warehouse Icon" />
          <span>WareHouse</span>
        </li>


        
      </ul>
    </div>-->
  
    <!-- Overlay for the sidebar and profile menu -->
    <div class="overlay" [ngClass]="{ 'open': isMenuOpen || isProfileMenuOpen }"></div>
  </div>
  