<div class="qr-code-container">
  <div class="qr-code-box">
    <div class="top-center-image">
      <img src="../../../assets/Untitled.gif" alt="Decorative Image">
    </div>
    <h2>Scan QR Code</h2>

    <!-- Video feed for native scanning -->
    <video #video class="camera-feed" *ngIf="isNativePlatform() && isScanning" autoplay playsinline></video>

    <!-- QR code container for web-based scanning -->
    <div #qrCodeContainer class="qr-code-container-web" *ngIf="!isNativePlatform()"></div>

    <!-- Display scan result -->
    <p *ngIf="scanResult">Scan Successful! Content: {{ scanResult }}</p>

    <!-- Display scanning options -->
    <div class="scan-actions">
      <button *ngIf="!isScanning" (click)="startScan()" class="scan-button">Start Scan</button>
      <button *ngIf="isScanning" (click)="stopScan()" class="scan-button stop">Stop Scanning</button>
    </div>

    <!-- Navigation button -->
    <button class="scan-button" routerLink="/consumers" routerLinkActive="router-link-active">Next</button>
  </div>
  <img src="../../../assets/Group 42.svg" alt="">
</div>
